.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.profile-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  display: inline-block;
  text-align: center;
  border: 1px solid rgb(36, 177, 177);;
}

.profile-card h2 {
  margin-bottom: 5px;
  font-weight: 500;
  color: rgb(36, 177, 177);
}

.footer-social-icons h2 {
  font-weight: 300;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px auto;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .cards .profile-card {
    margin: 1.5rem;
  }
}
