.secao-sobre {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding: 20px;
  border: 1px solid #ccc;
}

h1,
h2 {
  font-size: 24px;
  margin: 2rem auto;
}

h3 {
  text-align: left;
  font-size: 22px;
  margin: 2rem 0;
}

p {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: left;
}

/* estilização da tabela */

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: center;
}

#win {
  background-color: rgb(113, 241, 113);
}

.footer-logo p {
  font-size: 16px;
}

.footer-social-icons h1 {
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }
  .secao-sobre {
    width: 100%;
  }
}
