@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}


.secao-sobre {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding: 20px;
  border: 1px solid #ccc;
}

/* Wrapper para permitir scroll horizontal em telas pequenas */
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* scroll suave em iOS */
}

h1,
h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 2rem auto;
}

h3 {
  text-align: left;
  font-size: 22px;
  margin: 2rem 0;
  font-weight: 500;
}

p {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: left;
}

#destak {
  color: rgb(36, 177, 177);
  font-weight: 500;
  font-size: 22px;
}

/* estilização da tabela */

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: center;
  word-wrap: break-word; /* para quebrar palavras longas */
}

#win {
  background-color: rgb(97, 237, 97);
}

.footer-logo p {
  font-size: 16px;
}

.footer-social-icons h1 {
  font-size: 32px;
}

.footer-social-icons h2 {
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }
  .secao-sobre {
    width: 100%;
    padding: 12px;
  }

  h1,
  h2,
  h3 {
    font-size: 20px;
    text-align: center;
  }

  table {
    width: 100%;
    font-size: 16px;
  }

  th,
  td {
    padding: 6px;
  }

  .footer-social-icons a {
    font-size: 20px;
    margin: 0.5rem;
  }

  .footer-social-icons h2 {
    font-size: 16px;
  }
}
