.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .loading img {
    width: 100%;
  }
}
